body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.login {
  width: 300px;
  background-color: #fff;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.email {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.botao-login {
  text-align: center;
  background-color: #7e71e2;
  border: none;
  padding: 10px 30px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 40px;
}
