body {
  overflow-x: hidden;
  margin: 0;
  padding: 0; 
  font-family: Arial, sans-serif;
}
header {
  
  background-color: #ffffff;
  color: rgb(34, 33, 33);
  width: 100%;
  height: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  box-shadow: 0px 0px 15px rgba(3, 0, 25, 0.196);
}

.logo {
  text-align: center;
  font-size: 18px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -1px; 
  color: #7e71e2;
}
.menu {
  text-align: center;
  font-size: 16px;
  flex-grow: 1;
  text-align: center;
}
.menu a {
  color: rgb(34, 33, 33); 
  text-decoration: none;
  margin: 0 30px;
}
.botao-login {
  background-color: #7e71e2;
  border: none;
  padding: 10px 30px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 40px;
}

.botao-login a{
  text-decoration: none;
  color: white;
}

.botao-login:hover {
  background-color: #ba9dff;
}

.conteudo h1{
  color: #545454;
  margin-top: 90px;
  margin-left: 60px;
  width: 40%;
  font-size: 35px;
}
.p1{
  margin-top: 50px;
  margin-left: 60px;
  width: 43%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.p2{
  margin-top: 20px;
  margin-left: 60px;
  width: 44%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.botao-planos{
  font-size: 18px;
  background-color: #7e71e2;
  color: rgb(255, 255, 255);
  border: none;
  padding: 14px 54px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 60px;
  margin-top: 20px;
}

.botao-planos:hover{
  background-color: #ba9dff;
}

.botao-info{
  font-size: 18px;
  background-color: #e27177;
  color: rgb(255, 255, 255);
  border: none;
  padding: 14px 54px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
}
.botao-info:hover{
  background-color: #f7a2a2;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}




