body{
  font-family: Arial, sans-serif;
  margin: 100px;
  display: flex;
  background-color: #091d43;
  align-content: center;
  justify-content: center;
  
}

.card {
  border-style: center;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 100px;
  box-shadow: 7px 7px 30px rgba(157, 157, 157, 0.36);
  width: 600px;
  height: 300px;
}

.card h2{
  text-align: center;
}

.card-content-area{
  align-items: center;
  width: 100%;
  
}

.card-content input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  background-color: #f0f0f0;
  font-size: medium;
}

.card-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-footer .submit{
  width: 100%;
  background-color: #add6ff;
  color: #ffffff;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-right: 50px;
  text-transform: capitalize;
  margin: 20px;
}

.card-footer a{
  color: #957639;
  text-align: center;
  border-top: 15px;
  text-decoration: none;
  font-size: 17px;
  opacity: 0.8;
  margin: 10px;
}